html, body {
  color:  #282a2c;
  margin:0;
  padding: 0;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 200;
}

a {
  text-decoration: none;
  color:  #6c757d;
}
a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
  color:  #6c757d;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.container-form{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  text-align: center;
  vertical-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid  #6c757d;
  border-radius: 10px;
  
}
.navbar{
  min-height: 50;
  width: 100%;
  background: transparent;
  padding: 10px;
  justify-content: center;
  border-bottom: 1px solid #6c757d;
}
.nav-brand{
  display: flex;
  max-width: 200px;
}
#app-title {
  display: inline;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 3.0rem;
  font-weight: 400;
  font-style: italic;
  animation: ease-in;
  -webkit-animation: ease-in;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
}

.lead{
  font-weight: 200;
  font-style: italic bold;
  font-size: 2rem;
  color: #6c757d;
}

/* output for the cadrd container */
#output{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-gap: 20px;
  padding-bottom: 70px;

}

/* card format */
.card {
  flex: 1;
  padding-left: 5px;
  border: 1px solid #686565;
}


/* delete button inform of an x */
.hover-right {
 position: absolute;
 right: 0;
 top: 0;
 padding: 10px;
 transform: rotate(45deg);
}
/* edit button */
#update {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}
.footer{
  padding-bottom: 40px;
}

/* media queries */
@media(max-width: 540px) {
  .container-form {
    width: 95%;
  }
  #output{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-bottom: 20px;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 541px) {
  .container-form {
    width: 75%;
  }
}