html,
body {
  color: #282a2c;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #343a40;
}
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
  color: #343a40;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.container-form {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  text-align: center;
  vertical-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid #343a40;
  border-radius: 10px;
  z-index: 2;
}
.navbar {
  min-height: 50;
  width: 100%;
  background: transparent;
  padding: 10px;
  justify-content: center;
  border-bottom: 3px solid #282a2c;
}
.nav-brand {
  display: flex;
  max-width: 400px;
}
#app-title {
  display: inline;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT";
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
  animation: rubberBand;
  -webkit-animation: rubberBand;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

.lead {
  font-weight: 200;
  font-style: italic bold;
  font-size: 2rem;
  color: #343a40;
  text-shadow: 1px #6610f2;
}

/* output for the cadrd container */
#output {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1fr);
  grid-gap: 20px;
  padding-bottom: 70px;
}
/* icon social  */
.icon-social {
  width: 100%;
  display: flex;
  flex-flow: row;
  position: absolute;
  justify-content: center;
}
.icon-height{
  font-family: sans-serif;
  font-size: 1.7rem;
  display: inline;
  padding: 4px;
}
/* card format */
.card {
  flex: 1;
  padding-left: 5px;
  border: 1px solid #343a40;
  animation: bounceInUp;
  -webkit-animation: bounceInUp;
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -webkit-animation-duration: 2.75s;
  animation-duration: 2.75s;
  box-shadow: 1px 1px #343a40;
}
.card:hover {
  box-shadow: 2px 3px #282a2c;
}

/* delete button inform of an x */
.hover-right {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  transform: rotate(45deg);
}
/* edit button */
#update {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
}
.footer {
  padding-bottom: 30px;
  bottom: 0;
}

/* media queries */
@media (max-width: 540px) {
  .container-form {
    width: 95%;
  }
  #output {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-bottom: 20px;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 541px) {
  .container-form {
    width: 75%;
  }
}
