html, body {
  margin:0;
  padding: 0;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 200;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.container-form{
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: center;
  padding: 20px 50px;
}
.navbar{
  min-height: 50;
  width: 100%;
  background: transparent;
  padding: 10px;
  justify-content: center;
}
.nav-brand{
  display: flex;
  max-width: 200px;
}
#app-title {
  display: inline;
  text-align: center;
}

@media(max-width: 540px) {
  .container-form{
    width: 100%;
  }
}