<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">  -->
    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- font awesome link -->
    <!-- <script src="https://kit.fontawesome.com/5544139117.js"></script> -->

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico')}}"
      type="image/ico"
    />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-grid.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-reboot.css')}}">
    <link
      rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    
    
    
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
    
    {% block head %} {% endblock %}
  </head>
  <body >
    {% block body %} {% endblock %}
  <br>
  <div class="footer text-center">
    <h6>copyright &copy; 2019;</h6>
    <h6></h6>
  </div>

    <!-- add script incase of custom rendering for js animations: way afterwards!! -->
    <script href="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>


<!-- to implement -->

<!-- 1- add new offline bootstrap to support the app online or offline -->
