{% extends 'base.html' %} {% block head %}
<title>To Do || Not to Do</title>
<!-- loggo idea for the app -->
{% endblock %}

{% block body %}
<div class="container">
  <div class="navbar navbar-dark navbar-fixed-top">
    <!-- ... -->
    <h6 id="app-title" class="text-center display-4">To Do || Not to Do logo</h6>
    <hr class="my-4">
  </div>


  <form action="/" method="POST" id="form">

    <h5 id="form-info" class="display-6 lead"> sudo complete && sudo eliminate </h5>

    <div class="form-group">
      <label for="newElement"> Enter new Task...</label>
      <input id="todo" name="todo" type="text" class="form-control" id="newElement" placeholder="New Task ...">
    </div>

    <!-- input + button to implement -->
    <!-- <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
      </div> -->
    <input type="submit" value="Add Task" class="btn btn-outline-dark" />

  </form>

  
  {% if items|length < 1 %}
  <h5 id="no-info">Have something on your mind? steps to complete<span>...</span></h5>
  {% else %}
  
  <div id="output" class="column">
     
    {% for item in items %}
    <hr class="my-4 text-center">
    <div class="card">
      <div class="card-title">
          <a class="btn hover-right" id="delete" href="/delete/{{ item.id }}" role="button">+</a>

      </div>    
      <div class="card-text">
        <!-- idea to implement DIsplay diferent text here -->
          <p class="capitalize"> {{ item.content }}</p> <br>

          <span id="left-date">{{ item.date_created.date() }}</span> 
        <a class="btn" id="update" href="/update/{{ item.id }}" role="button">Update</a>
        <!-- <a class="btn btn-primary btn-outlined btn-lg" id="delete" href="/delete/{{ item.id }}" role="button">X</a> -->
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% endblock %}