{% extends 'base.html' %} 
{% block head %}
<title>Task Force</title>
<!-- loggo idea for the app -->
{% endblock %}

{% block body %}

<div class="container-fluid">
  <nav class="navbar navbar-dark navbar-fixed-top">
  
    <a href="/" id="app-title" class="nav-brand"><i class="fas fa-jedi fa-2x"></i> Task Force</a>
    
  </nav>
  <div class="row">
   
      <form action="/" method="POST" class=" col-md-6 container-form">
        <div class="form-group">
          <h5 id="form-info" class="header">What do you have in Mind?</h5>
        </div>
        <hr class="my-4">
        <div class="form-group">
          <input id="todo" name="todo" type="text" class="form-control" id="todo" placeholder="New Task ..." />
        </div>
        <br>
        <hr class="my-4">
        
        <button type="submit" class="btn btn-outline-secondary">
          Add
        </button>
      </form>
    
  </div>

  </div>
  
  <!-- to implement bootstrap files into the project for full offline support -->

    <!-- input + button to implement -->
      <!-- <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
          </div>
      </div> -->

</div>
<div class="container-fluid">
  {% if items|length < 1 %}

  <h5 id="lead" class="text-center pt-5">No Tasks. Create some...</h5>
  <br>
  {% else %}
  <hr class="my-4 text-center"> <br>
  <h5 class="lead text-center"> <i class="fas fa-tasks fa-2x"></i> Tasks Lobby: </h5>
  <br> 
  
  <br>
  <div id="output" class="container">
    
    {% for item in items %}
    <!-- add another idea for the capitalizing of first letter  done-->
    <!-- another idea bounce the ui for the cards display -->

    <div class="card">
      <div class="card-title">
        <a class="hover-right" id="delete" href="/delete/{{ item.id }}" role="button">+</a>

      </div>
      <div class="card-text">
        <!-- idea to implement DIsplay diferent text here -->
        <p class="text-center"> {{ item.content }} </p> <br>

        <span id="left-date">{{ item.date_created.date() }}</span>
        <a id="update" class="btn btn-outline-secondary" href="/update/{{ item.id }}" role="button">edit</a>
      
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% endblock %}