{% extends 'base.html' %} {% block head %}
<title>Cro$$ it</title>
{% endblock %} {% block body %}
<div class="container">
  <h6 id="app-title">Cro<span class="gothic-ss">$$ </span>it Off Update</h6>

  <form action="/update/{{ item.id }}" method="POST" id="form">
    <h5 id="form-info">Update Cro$$ it Task.</h5>
    <input
      id="todo"
      name="todo"
      type="text"
      placeholder="Update Task"
      value="{{ item.content }}"
    />
    <input type="submit" value="Update Task" class="button" id="update" />
  </form>
</div>

{% endblock %}
