{% extends 'base.html' %} {% block head %}
<title>Task <i class="fas fa-jedi fa-2x"></i> Force</title>
{% endblock %} {% block body %}
<div class="container-fluid">
  <div class="navbar navbar-dark navbar-fixed-top">
    <h6 id="app-title" class="text-center display-4">Task <i class="fas fa-jedi fa-2x"></i>Force Update</h6>
  </div>
  <form action="/update/{{ item.id }}" method="POST" class="form">

    <h5 id="form-info" class="display-6 lead">Satisfied with Update?</h5>

    <div class="form-group">
      <br />
      <hr class="my-4">

      <input id="todo" class="form-control" name="todo" type="text" placeholder="Update Task"
        value="{{ item.content }}" />
    </div>

    <button type="submit" class="btn"> <i class="fas fa-plus fa-2x"></i>save</button>
  </form>
</div>

{% endblock %}